## Configuração da Imagem da API-Tea 
image:
  # -- Registro da imagem do Container
  registry: harbor.unimednatal.com.br
  # -- Repositório onde a imagem se encontra
  repository: harbor.unimednatal.com.br/api-tea-prod/unimed/api-tea
  # -- Regra de pull da imagem (agora pela versão não mais por "latest").
  pullPolicy: IfNotPresent
  # -- Controle de versionamento de código utilizando TAG, refeencia no arquivo "Chart.yaml".
  tag: 0255aa9e
service:
  containerPort: 3000