apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert --volumes hostPath
    kompose.version: 1.26.1 (a9d05d509)
    namespace: api-servicos
  creationTimestamp: null
  labels:
    io.kompose.service: api-servicos
  name: api-servicos
spec:
  replicas: 5 #quantidade de nós no ambiente de produção
  selector:
    matchLabels:
      io.kompose.service: api-servicos
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        rollme: {{ randAlphaNum 5 | quote }} #estratégia para recriar os pods
        kompose.cmd: kompose convert --volumes hostPath
        kompose.version: 1.26.1 (a9d05d509)
      creationTimestamp: null
      labels:
        io.kompose.service: api-servicos
    spec:
      restartPolicy: Always
      containers:
        - args:
            - npm 
            - run
            - start 
          name: api-servicos
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}  
          imagePullPolicy: Always        
          ports:
            - containerPort: 3002
              protocol: TCP
          resources:
            limits:
              memory: 2Gi
              cpu: 800m
            requests:
              memory: 1048Mi        
              cpu: 400m
          livenessProbe:
            httpGet:
              path: /
              port: 3002
            periodSeconds: 10
            failureThreshold: 3
            initialDelaySeconds: 10
          readinessProbe:
            httpGet: 
              path: /
              port: 3002
            periodSeconds: 10
            failureThreshold: 5
            initialDelaySeconds: 3
          securityContext:
            capabilities: {}
            readOnlyRootFilesystem: false
      #     volumeMounts:
      #     - mountPath: /home/node/app/src
      #       name: src
      #     - mountPath: /home/node/app/vendor
      #       name: vendor
      # volumes:
      #   - hostPath:
      #       path: /home/unimed/projetos/api-servicos/src
      #       type: DirectoryOrCreate
      #     name: src
      #   - hostPath:
      #       path: /home/unimed/projetos/api-servicos/vendor
      #       type: DirectoryOrCreate
      #     name: vendor
status: {}