apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert --volumes hostPath
    kompose.version: 1.26.1 (a9d05d509)
    namespace: api-benef-tasy
  creationTimestamp: null
  labels:
    io.kompose.service: tasy-api-benef-prod
  name: tasy-api-benef-prod
spec:
  replicas: 5
  selector:
    matchLabels:
      io.kompose.service: tasy-api-benef-prod
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
        kompose.cmd: kompose convert --volumes hostPath
        kompose.version: 1.26.1 (a9d05d509)
      creationTimestamp: null
      labels:
        io.kompose.service: tasy-api-benef-prod
    spec:
      restartPolicy: Always
      containers:
        - args:
            - npm 
            - run
            - start 
          name: tasy-api-benef-prod    
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }} 
          imagePullPolicy: Always        
          ports:
            - containerPort: 3000
              protocol: TCP
          resources:
            limits:
              memory: 2Gi
              cpu: 800m
            requests:
              memory: 1048Mi        
              cpu: 400m
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 10
            failureThreshold: 3
            initialDelaySeconds: 10
          readinessProbe:
            httpGet: 
              path: /
              port: 3000
            periodSeconds: 10
            failureThreshold: 5
            initialDelaySeconds: 3
          securityContext:
            #allowPrivilegeEscalation: true
            capabilities: {}
            #privileged: true
            readOnlyRootFilesystem: false
          volumeMounts:
          - mountPath: /home/node/app/public/uploads/autorizacoes
            name: autorizacoes
          - mountPath: /home/node/app/public/uploads/reembolso
            name: reembolso
          - mountPath: /home/node/app/public/uploads/ouvidoria
            name: ouvidoria
          - mountPath: /home/node/app/logs
            name: logs
      volumes:
        - hostPath:
            path: /uploads/benef_tasy_api/autorizacoes
            type: DirectoryOrCreate
          name: autorizacoes
        - hostPath:
            path: /uploads/benef_tasy_api/reembolso
            type: DirectoryOrCreate
          name: reembolso
        - hostPath:
            path: /uploads/benef_tasy_api/ouvidoria
            type: DirectoryOrCreate
          name: ouvidoria
        - hostPath:
            path: /uploads/benef_tasy_api/logs
            type: DirectoryOrCreate
          name: logs
status: {}